@import "tailwindcss";
@import "@repo/ui/styles/default.css";

/**
 * Tailwind CSS official document:
 * https://tailwindcss.com/docs/detecting-classes-in-source-files
 *
 * if you ever need to explicitly add a source that's excluded by default,
 * you can always add it with the @source directive.
 */
@source '../../../../packages/ui';

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
